:root {
  --primary-color: #f47209;
  --sec-bkgnd-color: rgb(20, 20, 20);
}

body {
  background: black;
  margin: 0;
}

section {
  padding: 2em;
  color: white;
}

h2 {
  color: var(--primary-color);
  font-family: "Source Sans Pro";
  font-size: 2em;
  margin: 0;
}

h3 {
  color: rgb(150, 150, 150);
  font-family: "Source Sans Pro";
  font-size: 1.5em;
  margin: 0.5em 0 0 0;
}

h4 {
  color: var(--primary-color);
  font-family: "Source Sans Pro";
  font-size: 1.2em;
  margin: 0;
  margin-top: 0.2em;
}

p {
  font-family: "Fira Code";
  font-size: 1em;
  text-align: justify;
}

ul {
  list-style-type: none;
  padding: 0;
}

.navbar {
  background: black;
  padding: 1em;

  .logo {
    font-family: "Nasalization";
    text-decoration: none;
    color: var(--primary-color);
    font-size: 3.5em;
    margin: 0;
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
    height: 3.5em;
  }
}

.hero {
  text-align: left;
  padding-bottom: 1em;
  padding-right: 0;
}

.left-col {
  .hi {
    font-family: "Source Sans Pro";
    color: var(--primary-color);
    font-size: 2em;
    margin: 0;
  }

  .name {
    font-family: "Source Sans Pro";
    color: white;
    font-size: 3em;
    margin: 0;
  }

  .eng {
    font-family: "Source Sans Pro";
    color: rgb(100, 100, 100);
    font-size: 2em;
    margin: 0;
    text-align: left;
  }
}

.right-col {
  .hero-img {
    width: 100%;
    margin-top: 2em;
  }
}

section.aboutMe-section {
  background: var(--sec-bkgnd-color);

  .src-img {
    width: 12em;
    border-radius: 6em;
    display: block;
    margin: 1em auto 1.5em auto;
  }

  .media-imgs {
    display: flex;
    justify-content: center;

    img {
      height: 3em;
      cursor: pointer;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    a {
      text-decoration: none;
      cursor: pointer;

      .cv-button {
        color: var(--primary-color);
        font-family: "Nasalization";
        font-size: 2em;
        position: relative;
        top: 15%;
        margin: 0 0 0 0.2em;
      }
    }
  }

  h3 {
    color: var(--primary-color);
    margin-bottom: 0.2em;
  }

  .skills-img {
    width: 3em;
    margin: 0 0.25em 0.5em 0.25em;
  }
}

section.experience-section {
  padding-bottom: 0;

  .experience-img {
    height: 10em;
    border-radius: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  li {
    background: var(--sec-bkgnd-color);
    padding: 2em 1em;
    margin: 0 auto 3em auto;
    border-radius: 1.5em;
  }

  .link-project {
    img {
      width: 2em;
      display: block;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
    }
  }
}

section.projects-section {
  background-color: var(--sec-bkgnd-color);
  padding-bottom: 0.001em;

  .experience-img {
    width: 93%;
    border-radius: 0.7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    background: black;
    padding: 2em 1em;
    margin: 0 auto 3em auto;
    border-radius: 1.5em;
  }

  .link-project {
    img {
      width: 2em;
      display: block;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
    }
  }

  .double-ext-link {
    display: flex;
    justify-content: center;

    img {
      height: 2em;
      cursor: pointer;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}

section.addInfo-section {
  p {
    text-align: left;
  }
}

section.footer {
  background: var(--sec-bkgnd-color);
  padding: 0.5em;

  p {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .experience-section .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .projects-section .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}
