body {
  margin: 0;
  --main-background-color: rgb(0, 0, 0);
  --secondary-background-color: rgb(40, 40, 40);
  --accent-color: rgb(244, 114, 9);
  background: var(--main-background-color);
  color: ghostwhite;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 0, 75);
}

li {
  float: right;
  list-style-type: none;
  margin-right: 50px;
  margin-top: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Fira Code";
  font-size: 18;
}

li a:hover:not(.active) {
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 3px;
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(65, 0, 85); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px;
}

#topBtn:hover {
  background-color: rgb(55, 0, 75); /* Add a dark-grey background on hover */
}

.rectangle_aboutMe {
  position: relative;
  top: 50%;
  height: 780px;
  width: 100%;
  background: var(--secondary-background-color);
  z-index: -1;
}

.rectangle_featuredProj {
  position: relative;
  top: 600px;
  height: 1600px;
  width: 100%;
  background: var(--main-background-color);
  z-index: -1;
}

.rectangle_otherProj {
  position: relative;
  top: 600px;
  height: 815px;
  width: 100%;
  background: var(--secondary-background-color);
  z-index: -1;
}

.rectangle_footer {
  position: relative;
  top: 600px;
  height: 5px;
  width: 100%;
  background: var(--main-background-color);
  z-index: -1;
}

.logo {
  position: fixed;
  font-family: "Nasalization";
  font-size: 60;
  color: var(--accent-color);
  margin-top: 20px;
  left: 40px;
  z-index: 10;
}

.engine-img {
  position: absolute;
  right: 0;
  height: 75%;
  top: 17%;
}

.hi {
  position: relative;
  top: 300px;
  margin-left: 80px;
  font-family: "Fira Code";
  font-size: 30;
  color: var(--accent-color);
}

.myName {
  position: relative;
  top: 225px;
  margin-left: 80px;
  font-family: "Source Sans Pro";
  font-size: 70;
  color: white;
  font-weight: bold;
}

.mechEng {
  position: relative;
  top: 150px;
  margin-left: 80px;
  font-family: "Source Sans Pro";
  font-size: 60;
  color: rgb(110, 110, 110);
  font-weight: bold;
}

.aboutMe {
  font-family: "Source Sans Pro";
  font-size: 50;
  color: white;
  font-weight: bold;
  position: relative;
  margin-left: 15%;
  bottom: 300px;
}

.myProjects {
  font-family: "Source Sans Pro";
  font-size: 50;
  color: white;
  font-weight: bold;
  position: relative;
  margin-left: 15%;
  bottom: 1250px;
}

.otherProj {
  font-family: "Source Sans Pro";
  font-size: 50;
  color: white;
  font-weight: bold;
  position: relative;
  margin-left: 15%;
  bottom: 81px;
}
